$font-family: 'Roboto', sans-serif;
$light-color: grey;
$xlight-color: lightgrey;
$dark-color: #333;
$xdark-color: black;
$background-color: white;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 300;
  font-family: $font-family;
}

body, html {
  height: 100%;
}

.btn-icon {
  border: none;
  background: $background-color;

  &:hover { cursor: pointer }
  &:focus { outline: none }
}

.container {
  width: 768px;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

ul { list-style: none; }

/* Utilities */
.flex-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.fas {
  background-color: $background-color;
}

.padding-left {
  padding-left: 8px;
}

#root {
  height: 100%;
}

/* Header */

#main-header {
  width: 100%;
  height: 200px;
  display: flex;

  #calorie-progress {
    align-self: center;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    /* displays the total calorie count for the day */
    h1 {
      font-size: 60px;
      color: $dark-color;

      .sub-content {
        font-size: 20px;
        color: $light-color;
      }
    }

    /* A progress bar that shows the progress made toward the calorie goal */
    .load-bar {
      margin: 10px;
      margin-right: 100px;
      width: 300px;
      height: 3px;
      background: lightgrey;

      .prog {
        height: 100%;
        background: grey;
        transition: width .8s ease-out;
      }
    }
  }
  
  /* The total macros displayed at the top of the screen */
  #macros {
    display: flex;
    ul {
      align-self: center;
      justify-self: center;
      line-height: 1.8em;
      font-size: 18px;
      li {
        color: $dark-color;
      }
    }
  }
}

// Button component
.btn {
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 0;
  border-style: solid;
  border-width: 1px;
  border-color: $light-color;
  background: $background-color;
  font-size: 16px;
  width: auto;
  padding: 0 12px 0 12px;
  color: $light-color;
  &:hover { 
    cursor: pointer; 
    color: $dark-color;
    border-color: $dark-color;
  }
}

// Searchbar Component
.searchbar {
  display: flex;
  .searchbox {
    height: 50px;
    width: 300px;
    padding-left: 10px;
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    border-color: $light-color;
    border-right: none;
    &:focus { outline: none; }
  }
  .search-btn {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: $background-color;
    font-family: $font-family;
    color: $dark-color;
    border-style: solid;
    border-width: 1px;
    border-color: $light-color;
    &:focus { outline: none }
    &:hover {
      color: $xdark-color;
      border-color: $xdark-color;
      cursor: pointer;
    }
  }
}

// Foods Component (header)
.foods {
  display: flex;
  height: auto;
  width: 100%;
  flex-direction: column;
  flex-grow: 1;
  .food-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 12px;
    width: 100%;
    height: 64px;
    background: $background-color;

    border-style: solid;
    border-width: 1px;
    border-color: $xlight-color;
    border-bottom: none;
    &-label {
      h3 { 
        color: $xdark-color; 
        font-weight: 400; 
        padding-bottom: 2px;
      }
      p { color: $light-color; }
    }
    &-btns {
      button {
        margin-right: 20px;
      }
    }
  }
  .center-msg {
    width: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .no-results-msg {
    color: $xlight-color;
    padding-bottom: 12%;
    font-size: 18px;
  }
}
// Custom Food message
.custom-food-msg {
  padding-top: 30px;
  display: flex;
  align-items: center;
  color: $xlight-color;
  font-size: 15px;
  flex-direction: column;
  .link {
    padding-top: 7px;
    color: $xlight-color;
    font-size: 13px;
    &:hover { color: $light-color; }
  }
}
// Foods Component (edit window)
.food-item-area {
  display: flex;
  flex-direction: column;
  &:nth-last-child(2) { 
    border-bottom: 1px solid $xlight-color;
  }
  &:nth-last-child(1) { 
    border-bottom: 1px solid $xlight-color;
  }
}
// Edit window component
.food-item-area-edit {
  box-sizing: border-box;
  justify-content: space-between;
  display: flex;
  align-items: center;
  height: 120px;
  overflow: hidden;
  border-style: solid;
  border-width: 1px;
  border-color: $xlight-color;
  border-top: none;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: none;
  .left ul li {
    color: $dark-color;
    padding-bottom: 7px;
  }
}
// Servings form microcomponent
.servings-form {
  label { color: $dark-color; }
  input {
    border-style: solid;
    border-width: 1px;
    border-color: $xlight-color;
    padding: 5px 2px 5px 5px;
    width: 35px;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      display: none;
    }
    &:focus { outline: none }
  }
}

// Custom food component
.custom-food-form {
  font-size: 15px;
  color: $light-color;
  h1 {
    color: $light-color;
    padding-bottom: 30px;
  }
  align-self: center;
  width: 560px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  li {
    padding-bottom: 30px;
    display: flex;
    align-items: center;
  }
  .inline {
    display: inline;
  }
  label {
    margin-right: 6px;
  }
  input {
    border-radius: 0;
    border-width: 1px;
    border-color: $xlight-color;
    border-style: solid;
    height: 40px;
    padding: 5px 2px 5px 5px;
    &:focus {
      outline: none;
      border-color: $light-color;
    }
  }

  input[type=text] {
    flex-grow: 1;
  }
  input[type=number] {
    width: 34px;
    height: 30px;
    margin-right: 10px;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      display: none;
    }
  }
  button {
    margin-top: 45px;
    width: 100px;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0px;
  }
}