$font-family: 'Roboto', sans-serif;
$light-color: grey;
$xlight-color: lightgrey;
$dark-color: #333;
$xdark-color: black;
$background-color: white;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 300;
  font-family: $font-family;
}

.container {
  width: 768px;
  margin: auto;
}

ul { list-style: none; }

/* Utilities */
.flex-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* Header */

#main-header {
  width: 100%;
  height: 200px;
  display: flex;

  #calorie-progress {
    align-self: center;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    /* displays the total calorie count for the day */
    h1 {
      font-size: 60px;
      padding-right: 200px;
      color: $dark-color;

      .sub-content {
        font-size: 20px;
        color: $light-color;
      }
    }

    /* A progress bar that shows the progress made toward the calorie goal */
    .load-bar {
      margin: 10px;
      margin-right: 100px;
      width: 300px;
      height: 3px;
      background: lightgrey;

      .prog {
        height: 100%;
        background: grey;
        transition: width .8s ease-out;
      }
    }
  }
  
  /* The total macros displayed at the top of the screen */
  #macros {
    display: flex;
    ul {
      align-self: center;
      justify-self: center;
      line-height: 1.8em;
      font-size: 18px;
      li {
        color: $dark-color;
      }
    }
  }
}

// Searchbar Component
.searchbar {
  display: flex;
  .searchbox {
    height: 50px;
    width: 280px;
    padding-left: 10px;
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    border-color: $light-color;
    border-right: none;
    &:focus {
      outline: none;
    }
  }
  .search-btn {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: $background-color;
    font-family: $font-family;
    color: $dark-color;
    border-style: solid;
    border-width: 1px;
    border-color: $light-color;
    &:focus { outline: none }
    &:hover {
      color: $xdark-color;
      border-color: $xdark-color;
    }
  }
}